# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Credentials and Keys
token.json
credentials.json
o365_token.txt
.env
secret.key

# Virtual environments
venv/
env/
ENV/
.venv/

# IDE files
.vscode/
.idea/

# API Keys & Secrets
*.json
.env
.venv
# VS Code temp
*tempCodeRunnerFile*

# Token and auth files
o365_tokeno.txt
*.evalset.json
uv.lock
